body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration: none; color: #333;}
a:hover{color: red; text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
/*head*/
.head{height: 90px;}
.login{width: 990px; margin: 0 auto; }
.head1{margin-top: 23px; float: left;}
#welcome{color: #666; font-size: 22px; margin: 32px 0 0 8px; border-left: solid #e4e4e4 1px; padding-left: 8px; float: left;}
#loginr{float: right; margin-top: 51px; }
label{color: #999; font-weight: 100; font-family: Arial;}
.barber{border-right: solid #ccc 1px; margin-right: 5px; padding-right: 5px;}


/*middle*/
.box{width: 990px;
    margin: 0 auto;border: 1px solid #e5e5e5;
    padding: 80px 0 60px;
    margin-top: 10px;    position: relative;}

/*footer*/
.footer{text-align: center;  padding: 35px 0 5px;  color: #999;}
.footer p{padding-top: 5px;}
.footer a{    color: #999; margin: 0 5px;}
.footer a:hover{text-decoration: underline;}




